<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watches</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container header">
        <div class="title">
          <span>BUY WATCH</span>
        </div>
        <div class="bag">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge">0</span>
        </div>
      </div>
    </header>
    <div class="container">
      <nav>
        <ul>
          <li><a id="home">HOME</a></li>
          <span>|</span>
          <li><a id="create">CREATE</a></li>
        </ul>
      </nav>
    </div>
    <div class="parallax top">
      <div class="container">
        <div class="search">
          <input
            type="text"
            placeholder="Search watches..."
            autocomplete="off"
            name="searchValue"
          />
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="container">
      <main> <!--
        <div class="wrapper">
          <div class="watch">
            <img src="../public/img/apple_1.jpg" alt="Watch" class="image" />
            <div class="overlay">
              <div class="text">Add to cart</div>
            </div>
          </div>
          <div class="details">
            <p>Neve</p>
            <p>1500</p>
            <p class="isInStockFalse">Van készleten</p>
          </div>
        </div>
        <table>
              <tr>
                <th>Product</th>
                <th>Price</th>         
                <th>Qauantity</th>
                <th>Total</th>
              </tr> 
              <tr>
                <td class="item"><img src="../public/img/apple_1.jpg" alt="Watch" class="image" style="width:10vw"/><p>Név</p></td>
                <td>1500</td>
                <td><button class="minus"><</button><span>1</span><button class="plus">></button></td>
                <td>1500</td>
              </tr>
        </table>
        <div class="avg"> 
            <p>Basket Total:</p>
            <p>5000</p>
            <button>Buy</button>
        </div> -->
      </main>
    </div>

      <div class="parallax bottom">
        <div class="container">
        <p class="visualEffectoff">
          Thank you for visiting!
        </p>
      </div>
      </div>
    </div>
    <footer><div class="container">Designed by Antal Toth</div></footer>

    <script src="../public/javascript.js"></script>
  </body>
</html>
